/* Google Font Import Code
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic");
@import url("login.css");

/* Reset CSS
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0; padding: 0; border: 0; /*font-size: 100%; font: inherit; vertical-align: baseline;*/}

body { background-color: #f3f3f3; color: #333333; font-family: 'Open Sans', sans-serif; font-size:14px; line-height: 1;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-weight:700; margin-bottom:10px;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
 

/* Selection CSS */
::-moz-selection { background: #0275d0; color:#ffffff;}
::selection { background: #0275d0; color:#ffffff;}
 

/* Common CSS
   ========================================================================== */
ol, ul {list-style: none;}
a{color:#801517; white-space:nowrap;}
a:active, a:hover/*, a:focus*/ { outline: 0; text-decoration:none; color:#333; }
a:focus{outline: 0; text-decoration:none; color: #801517;}
b, strong { font-weight: bold;}
img { border: 0;}

/* Main CSS
   ========================================================================== */
.checkbox-inline, .radio-inline{padding-left:0;}

/* Header Default CSS
   ========================================================================== */
header{ background-color: #333333; color: #ffffff;}
header .logo{margin:17px 0; display:block; float:left;}
header .logo img, .user-pic img{display:block;}

.welcometxt{padding: 17px 0; font-weight: 700; float:right;}
.welcometxt > a{ color: #fff; line-height:36px; display:inline-block; float:left; padding:0 15px;}
.user-pic{display:inline-block; float:left; margin-right:6px;}
.user-pic img{border-radius:50%; overflow:hidden;}
.noti-link{font-size:24px; position:relative;}
.noti-link .badge{background-color:#801517; color:#fff; font-size:10px; min-width:16px; height:16px; padding:2px 3px; position:absolute; top:-2px; right:10px;}

.navbar-toggle, .btn-navbar{background-color:#fff; border-color:#fff; margin-right:0; margin-top:17px; cursor:pointer;}
.navbar-toggle .icon-bar, .btn-navbar .icon-bar{background-color:#0275d0;}

/* Header Navigation & subNavigation CSS
   ========================================================================== */
.navigation{ background-color: #939598; border: 0 none;border-radius: 0; margin-bottom: 0px;  min-height: auto !important;}
/*.navbar-default .navbar-collapse{ padding: 0;}
.navbar-default ul.nav{ width: 100%;}
.navigation ul.nav > li{ width: 155px;}
.navigation ul.nav > li > a{ color: #ffffff;  font-size: 16px; font-weight: 600; padding: 0 10px; text-align: center; line-height:37px; text-transform:uppercase;}
.navigation ul.nav li.active a, .navigation ul.nav li a:hover, .navigation ul.nav li.active a:hover{ background-color: #ffffff; color: #2d323e;}
nav.navbar-default  a.navbar-brand{ display: none;}
.subnavbar{   background-color: #ffffff;  border: 0 none;  border-radius: 0;  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.15); margin-bottom: 0px;  min-height: auto;}
.subnavbar ul.nav li a{ color: #0275d0; font-size: 14px;  font-weight: 700; padding: 11px 12px;}
.subnavbar ul.nav li:first-child a{ padding-left: 0;}*/

/*-------------CSS Nav------------*/

#primary_nav_wrap ul { list-style: none; position: relative; margin: 0; padding: 0 }
#primary_nav_wrap > ul > li > a { color: #ffffff;  font-size: 16px; font-weight: 600; padding: 0 20px; text-align: center; line-height:37px; text-transform:uppercase; display:block; text-decoration:none; /*border-right:1px #ffffff solid;*/}
#primary_nav_wrap > ul > li { position: relative; float: left; margin: 0; padding: 0; min-width:155px;}
#primary_nav_wrap > ul > li > a:hover, #primary_nav_wrap ul > li.current-menu-item > a { background-color: #ffffff; color: #606060; }
#primary_nav_wrap ul ul { display: none; position: absolute; top: 100%; left: 0; background: #fff; padding: 0;  min-width: 155px}
#primary_nav_wrap ul ul li { float: none; }
#primary_nav_wrap ul ul a { padding: 10px; color:#606060; font-size:15px; display:block; border-bottom:1px #dadada solid;}
#primary_nav_wrap ul ul a:hover{text-decoration:none; background-color:#e5e5e5;}
#primary_nav_wrap ul ul ul { top: 0; left: 100% }
#primary_nav_wrap ul li:hover > ul { display: block }

/* Content CSS
   ========================================================================== */
h1{ color: #333333; font-size: 30px; font-weight: 400; text-transform: uppercase; text-align: center; padding-top: 30px; padding-bottom: 30px; margin-bottom: 0;}


/* Step Form CSS
   ========================================================================== */
.stage-container {padding: 15px 0px 30px; margin: auto; max-width: 650px; display:table; }

.stage-container .stage { cursor:pointer; display: table-cell; position: relative; text-align: center; width:190px; padding: 0 15px; }
.stage-container .stage:before, .stage-container .stage:after { position: absolute; background-color: #969696;top: 34px; width: 50%;height: 2px;content: '';}
.stage-container .stage:before { left: 0; }
.stage-container .stage:after  { right: 0; }
.stage-container .stage:first-child:before { display: none; }
.stage-container .stage:first-child + .stage + .stage + .stage:after { display: none; }

.stage-container .stage-icon {display: inline-block; width: 67px; height: 67px; background-color: #f3f3f3; text-align: center; font-size: 34px;  line-height: 58px; color: #969696; border: 2px solid #969696;  position: relative; z-index: 1; -webkit-border-radius: 50%; border-radius: 50%;}

/*  Current stage  */
.stage-container .stage.current .stage-icon, .stage-container .stage:hover .stage-icon { background-color: #801517; border: 2px solid #801517; color: #fff; }
.stage-container .stage.current:after, .stage-container .stage.current:before { }
/*  end Current stage  */

/*  Success stage  */
.stage-container .stage.success .stage-icon { background-color: #0275d0; border: none;}
.stage-container .stage.success:after, .stage-container .stage.success:before { background-color: #0275d0; border: none;    }
 /* end Succes stage  */
.stage-container .stage-title { color: #969696; font-weight: 600;  margin-top: 20px; font-size:16px; line-height:22px;}
.stage-container .stage.current .stage-title, .stage-container .stage:hover .stage-title  { color: #801517;}

/** Form Css **/
.wt-frame{ background-color: #ffffff; padding: 40px 68px;}
.form-section fieldset {display: none;}
.form-section .form-group { margin-bottom: 30px;}
.form-section .field-group { padding-top: 20px;}
label{ color: #333333; font-size:14px; margin-bottom: 11px; }
.form-section label{ display:block; font-weight: 600;}
.req{ color: #039be5;font-size:18px; line-height:10px;}
/*.sub-fields label{font-weight: 400;}*/

.form-control::-webkit-input-placeholder {color:#727272;}
.form-control:-moz-placeholder {color:#727272;}
.form-control::-moz-placeholder {color:#727272;}
.form-control:-ms-input-placeholder {color:#727272;}

.form-control{ background-color: #ffffff; border-radius: 0px; -webkit-border-radius: 0px; border-color: #c2c2c2; box-shadow: none; color: #333333; font-size: 14px;  height: 38px; padding: 6px 15px;}
select.form-control{padding:6px 12px; font-style:normal; color:#727272;}
.fieldSection{ background-color: #f3f3f3; padding: 30px 30px 15px;}

.fieldSection ul.nav-tabs{ border: 0 none;  margin: 0 auto 22px;  max-width: 433px; text-align: center;}
.fieldSection ul.nav-tabs > li { display: inline-block;  float: none;  width: 49%; font-size:16px;}
.fieldSection ul.nav-tabs > li a { background-color: #7ab4e1; border: 0 none; border-radius: 0 20px 20px 0; color: #ffffff;}
.fieldSection ul.nav-tabs > li:first-child a {border-radius: 20px 0 0 20px;}
.fieldSection ul.nav-tabs > li.active a, .fieldSection ul.nav-tabs > li:hover a { background-color: #0275d0; border:none; color:#fff;}

.tab-content .list-event-date{ background-color: #fff; color: #333333; padding: 12px 0; margin-bottom: 8px; font-size:16px;}
.tab-content .list-event-date a{color: #333333;}
.editr{margin:40px 0px 0px;}/*Editor*/
.editr label{margin-bottom:30px;}

.btn{border-radius:0px; padding:8px 20px; border-radius:0px; color:#fff; font-size:14px; min-width:125px; vertical-align:middle;}
.btn .fa{margin-right:5px;}
.btn.focus, .btn:focus, .btn:hover{opacity:0.8; color:#fff; outline:none;}
.editor-btn{text-align:center;  margin:24px 0 0;}
.editor-btn .btn{margin:6px;}

.gray-btn{background:#969696;}

#wrapper{min-height:100%; margin-bottom:-370px;}
#wrapper:after {content: ""; display: block;}


footer{background:#333333; color:#fff; font-size:13px; line-height:20px;}
footer .container{padding-top:50px; padding-bottom:50px;}
footer h2{color:#fff;font-size:18px;font-weight:bold; margin-bottom:25px;}
.f-links li{font-size:13px; margin-bottom:12px; background:url(/images/arrow-wt.png) no-repeat left 7px; padding-left:16px;}
.f-links li a{color:#fff; text-decoration:none;}
.f-links li a:hover{color:#fff; text-decoration:underline;}
footer i{color:#fff;}

.f-logo, .f-facebook{margin:15px 0 20px;}

.contact-info > li{position:relative; margin-bottom:12px; padding-left:22px;}
.contact-info > li .fa{position:absolute; left:0; width:14px; text-align:center; top:4px;}

.newletter-row{position:relative; margin-bottom:20px;}
.nwsltr input[type="text"] {background: #fff none repeat scroll 0 0; border: 0 none; font-size: 13px; height: 48px; padding: 10px 40px 10px 10px; position: relative; width: 100%; color:#333;}
.ent {background: #fff none repeat scroll 0 0; border: 0 none; bottom: 0; padding:0 15px; height: 48px; position: absolute; right:0;}
.ent i {color: #801417; font-size: 24px; margin: 0;}
.footer-btm{background:#939598;color:#fff;font-size:15px;text-align:center;padding:16px;}

.social-media{margin:0 -8px;}
.social-media > li {float:left; padding:0 8px;}
.social-media > li a{background:rgba(255,255,255,0.3); height:32px; width:32px; display:inline-table; text-align:center; border-radius:50%;}
.social-media > li a:hover{background:rgba(255,255,255,1);}
.social-media > li a:hover .fa{color:#333;}
.social-media > li a .fa{display:table-cell; vertical-align:middle;}

#venue-event .bootstrap-select.btn-group .dropdown-toggle .caret{border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px dashed; color:#b3b3b3;}/*Select*/
.btn{border-radius:0px;}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:100%;}
.btn-group.open .dropdown-toggle{box-shadow:none;background:#fff;}.btn-default.focus, .btn-default:focus{background:none;outline:0px;}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .btn-default:hover{background:#fff;border-color:#c2c2c2;}.bootstrap-select .dropdown-toggle:focus{outline:0px !important;}
.dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  margin-top:-1px; padding:0px;
}
.dropdown-menu > li > a{padding:7px 20px;}


/*-----------Table--------*/
.table{background-color:#ecf6fd;}
.table > thead > tr > th, .table > thead > tr > td{font-size:12px;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{border:none; font-size:12px; line-height:none; /*text-align: center; padding:8px 15px;*/padding:8px;}
.table > thead > tr > th{ background-color:#333; color:#fff; font-weight:bold; text-transform:uppercase; vertical-align:middle;}

.table-striped > tbody > tr:nth-of-type(2n+1){background-color:#ffffff;}
/*===========Table===========*/

/*-----------Radio--------*/
input[type="radio"] { display: none; }
input[type="radio"] + label { color: #333; font-size: 14px; font-weight:400;}
input[type="radio"] + label span { display: inline-block; width: 17px; height: 17px; margin: -2px 9px 0 0; vertical-align: middle; cursor: pointer; -moz-border-radius: 50%; border-radius: 50%; }
input[type="radio"] + label span { background-color: #ffffff; border: 2px #bbbbbb solid; position: relative;   }
input[type="radio"] + label span:after { position: absolute; height: 100%; width: 100%; top: 0; left: 0;  content: ' ';  border-radius: 50%; transition: all .2s; color:#fff;}
input[type="radio"]:checked + label span:after { background-color: #801517; }
input[type="radio"]:checked + label span{border-color:#801517;}
input[type="radio"] + label span, input[type="radio"]:checked + label span { -webkit-transition: background-color 0.2s linear; -o-transition: background-color 0.2s linear; -moz-transition: background-color 0.2s linear; transition: background-color 0.2s linear; }


/* checked mark aspect changes */
input[type="radio"] + label span:after {
  opacity: 0;
  transform: scale(0);
}
input[type="radio"]:checked + label span:after{
  opacity: 1;
  transform: scale(0.7);  
}

.custom-check input[type="checkbox"]:not(:checked),
.custom-check input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.custom-check input[type="checkbox"]:not(:checked) + label,
.custom-check input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
.custom-check input[type="checkbox"]:not(:checked) + label:before,
.custom-check input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 15px; height: 15px;
  border: 1px solid #bbbbbb;
  background: #fff;
  border-radius: 2px;
  font-weight:400;
  /*color:#999; box-shadow: inset 0 1px 3px rgba(0,0,0,.3)*/
}
/* checked mark aspect */
.custom-check input[type="checkbox"]:not(:checked) + label:after,
.custom-check input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 2px; left: 0;
  border-radius: 2px;
  width: 15px; height: 15px; line-height: 15px;
  text-align:center;
  font-size: 12px;
  
  color: #fff;
  transition: all .2s;  
  background-color:#801517;
}
/* checked mark aspect changes */
.custom-check input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom-check input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);  
}
/* disabled checkbox */
.custom-check input[type="checkbox"]:disabled:not(:checked) + label:before,
.custom-check input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.custom-check input[type="checkbox"]:disabled:checked + label:after {
  color: #333;
}
.custom-check input[type="checkbox"]:disabled + label {
  color: #aaa;
}

.custom-check input[type="checkbox"] + label {
  /*color:#999;*/ font-weight:400; line-height:18px;
}
/* accessibility */
/*[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}*/


/*-------------Toggle switch-----------*/
.onoffswitch {
  position: relative; width: 50px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 2px solid #d9d9d9; border-radius: 20px;
  background-color: #d9d9d9;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 20px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 30px;
  border: 2px solid #d9d9d9; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #801517;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #801517;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; 
}
/*-------------Toggle switch-----------*/

.action a{font-size:18px; color:#7e7e7e; margin:0 6px; line-height:18px; vertical-align:middle;}
.action a:hover{color:#0275d0;}
.numbers, .action{text-align:center;}
.l-b{display:block;}

/*-----------------Event Dashboard------------*/
.panel-primary {border-color: #5db85b;}
.panel-primary > .panel-heading {background-color: #5db85b; border-color: #5db85b;}
.huge {font-size: 40px; margin-bottom:10px;}
.panel, .panel-heading{border-radius:0;}
.panel-footer{background-color:#f3f3f3; font-size:14px; color:#999;}

.d-panel{margin-bottom:20px;}
.d-panel-heading{background:#f3f3f3; padding:15px; margin-bottom:10px; font-size:14px;}
.days-sort{font-weight:700; text-align:right; text-transform:uppercase; margin:6px 0;}
.days-sort a {margin:0 10px;}
.sml-btn{padding:0px 15px; line-height:24px; }

.panel-yellow {border-color: #efad4d;}
.panel-yellow .panel-heading {background-color: #efad4d; border-color: #efad4d; color: #fff;}
.panel-yellow a {color: #efad4d;}

.panel-red {border-color: #d8524f ;}
.panel-red .panel-heading {background-color: #d8524f ; border-color: #d8524f ; color: #fff;}
.panel-red a {color: #d8524f ;}

.graph-frame{height:410px; background:#f3f3f3;}
.gray-frame{background-color: #f3f3f3; padding: 30px;}

.top-buttons{margin:0 -5px;}
.top-buttons .btn{margin:0 5px 10px;}
.btn-small{padding:5px 15px; font-weight:bold; font-size:12px; text-transform:uppercase;}
.btn-xl{font-size:18px; height:50px; min-width:250px;}

.module{margin-bottom:10px;}
.btn-file {
        position: relative;
        overflow: hidden;
    }
.btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
  .right-btns{float:right;}

/*-----------6/4/2016---------------*/
.top-section { background: #939598; color: #fff; }
.prof-hd { background: #939598 none repeat scroll 0 0; color: #ffffff; cursor: pointer; font-size: 14px; padding: 6px 40px; position: relative; }
.prof-hd h2 { font-size: 16px; margin-bottom: 0; font-weight: 600; min-height:24px; line-height:24px; }
.no-icon.prof-hd{padding-left:30px;}
.hdicon { display: inline-block; height: 18px; left: 12px; margin-top: -9px; position: absolute; top: 50%; width: 24px; }
.hdicon span { display: table-cell; vertical-align: middle; }
.pos-t19 { top: 19px; }
.rt-img { position: absolute; right: 13px; top: 50%; margin-top:-13px; }
.prof-hd i.fa { font-size: 18px; }
.radio-sec{padding-top:5px; margin:0 -10px;}
.radio-sec .radio-inline{padding:0 10px; margin:0;}
/*.radio-sec .radio-inline label{ font-weight:normal;}*/
.grid-btn-top{margin-bottom:10px;}
.grid-bottm{margin-bottom:15px;}
.legends{margin:0 -5px;}
.legends li { color: #b3b2ae; float:left; font-weight: 600; padding: 5px; text-transform: uppercase; font-size: 12px; }
.legends span { padding-left: 5px; color: #7e7e7e; }
.legends i.fa { color: #7e7e7e; font-size:14px; }
.rt-img i.fa { font-size: 26px; }
/*.drop_text select { width: 300px; float: left; }
.drop_text > span { padding-top: 9px; float: left; padding-left: 30px; font-weight: bold; font-size: 14px; text-decoration: underline; color: #0275d0; }*/
.drop_text1 { font-size: 14px; font-weight: bold; padding: 0px; }
.text-drop { padding-top: 25px; }
.section2 .btn { padding: 8px 30px; }
.gray-frame { background-color: #f3f3f3; padding: 30px; }
.input-group-addon{border-radius:0;}

.drop_text1 span { text-decoration: underline; color: #0275d0; }
.with-ftext{padding-top:15px; display:inline-block;}

/*--------*/
.lt-label{float:left; margin-right:10px; min-width:40px; line-height:20px; font-weight:bold; line-height:24px;}
.page-list, .paging, .page-list li{float:left; margin:0 1px 0 0;}
.page-list li a{display:block; line-height:24px; background-color:#fff; min-width:24px; padding:0 5px; color:#0884c4; font-size:14px; font-weight:bold; text-align:center; border:1px #ccc solid;}
.page-list li a:hover, .page-list li.active a{background:#0275d0; color:#fff; border-color:#0275d0;}

.page-list li.page-btn .fa{line-height:22px;}
.page-list li.page-btn a{background-color:rgba(150,150,150,0.2); color:#333; font-size:16px; line-height:normal;}
.page-list li.page-btn a:hover, .page-list li.page-btn.active a{background-color:rgba(150,150,150,0.6); border-color:#ccc;}

.inline-section{display:inline-block; margin:0 5px; vertical-align:middle;}
select.select30{height:30px; padding:0 8px; font-size:14px;}
.search-event{position:relative;}
.search-field{padding-left:40px;}
.search-event .fa{position:absolute; left:13px; top:10px; color:#777; font-size:18px;}

.ev-icon{margin-bottom:15px; display:inline-table; border-radius:50%; background:#fff; width:100px; height:100px;}
.ev-icon span{display:table-cell; vertical-align:middle;}
.events-col{padding:25px 15px; margin-bottom:15px; text-align:center; background:#f3f3f3;}
.events-col h2{font-size:16px; margin-bottom:15px; font-weight:600;}
.col-con{min-height:50px; margin-bottom:15px; line-height:20px;}

/*--------08-04-2016---------------*/
.event p.custom-check {display: inline-block;margin-right:20px; min-width:90px;}
.fix-tp{margin-top:20px;clear:both;}
.loc-list li {padding: 10px 0 20px 15px;position: relative;line-height:22px;}
.loc-list li a:hover{color:#0275d0;}
.loc-list li i {left: 0;position: absolute; color:#333;top:14px;}
.loc-list span {display: block;padding-top: 3px;}
.loc-list li a {white-space: inherit;}
/*--------08-04-2016---------------*/

.info-text{font-size:12px; color:#727272; text-align:right; padding:8px 0;}
.content{font-size:14px; line-height:20px;}
.content p{margin-top:20px;}
.content p:first-child{margin-top:0;}

.input30{width:180px !important;height:30px;}
.sel-d label{display:inline;}
.sel-d label {
  display: inline-block;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.hg-80{height:80px;}

.btns-widget{margin:0 -15px;}
.btns-widget li{padding:7px 15px; float:left; font-size:12px; font-weight:700; text-transform:uppercase; width:25%;}
.btns-widget li a{padding:7px 15px; display:block; color:#801517; /*border:1px #ccc solid; background:#fff;*/ }

.icon-fa{background:#fff; border-radius:50%; width:30px; height:30px; line-height:30px; color:#969696; text-align:center; margin-right:10px; font-size:18px; position:relative;}
.sub-fa{font-size:60%; position:absolute; bottom:15%; right:10%; background:#fff; border-radius:50%; width:10px; height:10px;}

.date-view{border:1px #ccc solid; background:#fff; display:inline-block; vertical-align:middle;}
.date-m, .date-d{display:block; padding:8px; text-align:center;}
.date-m{background:#0275d0; color:#fff; font-size:16px; text-transform:uppercase; font-weight:600;}
.date-media{width:120px;}
.date-d{padding:10px;}

.v-map{height:200px; overflow:hidden; margin-bottom:15px; }
.address-list > li{margin-top:10px; line-height:20px;}
.address-list > li:first-child{margin-top:0;}
.address-list .fa{color:#969696;}

/*13-04-2016*/
.stage-container .stage:last-child::after{display:none;}
.right-span{display:inline-block; vertical-align:top; padding-top:8px;}
/*13-04-2016*/

.error-text{color:#ff0000; padding:8px; margin-bottom:20px; background:rgba(255,220,220,0.5);}
.profile-btns > li{margin-top:10px;}
.profile-btns > li:first-child{margin-top:0;}
.profile-btns > li .btn{width:100%;}

.notes h4{margin-bottom:15px;}
.notes ul > li{margin-bottom:15px; padding-bottom:15px; line-height:18px; border-bottom:1px #f3f3f3 solid;}
.note-div p{padding-bottom:15px;}
.notes .date-d{text-align:left; padding:0; color:#801517;}

/*-------Date Picker-------*/
.uib-datepicker td, .uib-datepicker th{padding:3px;}
.uib-time, .uib-separator{vertical-align:middle;}
.uib-time.am-pm{height:36px; font-size:16px;}
.uib-separator{padding:2px;}
.uib-datepicker{background:#fff; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; padding:15px 25px; border:none;}
.uib-datepicker .btn-default{background:none; border:none;}

.uib-daypicker thead tr:last-child th{font-size:11px; color:#0275d0; padding:10px 0;}
.uib-daypicker thead tr:first-child{border-bottom:1px #ccc solid; }
.uib-daypicker thead tr:first-child th{padding-bottom:10px;}

.uib-datepicker > table{width:100%;}

.uib-datepicker .btn, .datepicker .btn{font-size:11px;}
.uib-datepicker .uib-title{font-size:14px;}
.uib-datepicker .uib-title strong{font-weight:400; text-decoration:underline;}
.uib-datepicker th .btn, .datepicker th .btn{color:#0275d0; padding:0;}
.uib-datepicker .btn.active, .uib-datepicker .btn:active, .uib-datepicker .btn .text-info{ border-radius:50%;}

.uib-timepicker .btn.focus, .uib-timepicker .btn:focus, .uib-timepicker .btn:hover{background:none; /*border:none;*/ box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}

.uib-datepicker .btn.disabled, .uib-datepicker .btn[disabled], .uib-datepicker fieldset[disabled] .btn{color:#444; opacity:1;}
.uib-day .btn, .uib-datepicker .btn .text-info{width:25px; height:25px; line-height:25px; text-align:center; padding:0;}
.uib-datepicker .btn.active, .uib-datepicker .btn .text-info{background-color:#0275d0; color:#fff; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;}
.uib-datepicker .btn.active{background:#801517;}
.uib-datepicker .btn .text-info{display:block;}

.uib-years .btn, .uib-yearpicker .btn .text-info {height: 50px;  line-height: 50px;  width: 50px;}
.uib-yearpicker .btn, .uib-monthpicker .btn{padding:0;}

.uib-months .btn, .uib-monthpicker .btn .text-info {height: 50px;  line-height: 50px; width: 65px;}

.uib-button-bar{overflow:hidden;}
.uib-button-bar .btn{color:#fff;}

/*======= Date Picker ========*/

.welcome-row{font-size:16px; line-height:22px; text-align:center;}
.welcome-row p{margin-bottom:20px;}

.image-slider{position:relative; padding:0 20px;}
.prev-arrow, .next-arrow{position:absolute; top:50%; margin-top:-8px; }
.prev-arrow{left:0;}
.next-arrow{right:0;}
.prev-arrow .fa, .next-arrow .fa{font-size:18px;}
.slider-widget{margin:0 -9px;}
.slider-widget > li{float:left; padding:0 9px;}

.dollar-input .form-control{padding-left:20px;}
.dollar-input{position:relative;}
.dollar-sign {font-size: 16px; position: absolute; top: 11px; left:10px;}

.includes{padding-top:10px;}
.includes > li{padding-left:20px; margin:8px 0 0; position:relative; color:#999;}
.includes > li:first-child{margin-top:0;}
.pos-l{position:absolute; left:0; top:0;}
.to-text{text-align:center; padding-top:12px;  padding-bottom:12px;}

.label-text{color:#727272; padding:5px 0; font-size:12px; font-weight:normal;}
.day-row{margin-bottom:20px;}
.day-row > label{float:left; padding:10px 0; margin-bottom:0;}
.time-cols{margin-left:100px;}

.green-tick .fa{color:#03ab22;}
.red-cross .fa{color:#c23333;}

.hd{margin-bottom:25px; text-align:center; border-bottom:1px #ccc solid; padding-bottom:20px;}
.keywords-widget{background:#fff; border:1px #ccc solid; min-height:100px;}
.keywords > li{float:left; margin:5px; position:relative;}
.keywords > li > span{ display:block; background:#7ac0e1; color:#fff; padding:5px 25px 5px 10px; border-radius:3px;}
.keywords > li .pos-l{left:auto; right:5px; color:#fff; top:4px; cursor:pointer;}

/*----------Popup------------*/
.popup-overlay{background:rgba(0,0,0,0.5); position:fixed; height:100%; width:100%; z-index:10; top:0; left:0;}
.popup-widget{width:600px; position:absolute; top:10%; background:#ffffff; z-index:10; left:50%; margin-left:-300px; border-radius:10px; box-shadow:rgba(0,0,0,0.5) 0 0 10px; -moz-box-shadow:rgba(0,0,0,0.5) 0 0 10px; -webkit-box-shadow:rgba(0,0,0,0.5) 0 0 10px;}
.popup-widget h2{background:#f1f1f1; text-align:center; padding:10px 30px; border-radius:10px 10px 0 0; font-size:22px; margin:0;}
.close-popup{position:absolute; top:10px; right:10px; height:24px; width:24px; display:inline-table; background:#f3f3f3; text-align:center; border-radius:50%;}
.close-popup:hover{text-decoration:none;}
.close-popup i{display:table-cell; vertical-align:middle; font-size:18px;}
.popup-widget h4{font-size:14px;}
.popup-tag{color:#666; font-size:11px;}
.popup-media{margin-bottom:15px;}
.popup-media .media-body{padding-top:10px;}
.popup-media h4{margin-bottom:5px;}

.popup-content{padding:20px;}
.popup-content h3{font-size:16px;}

.popup-des{margin-bottom:20px; line-height:20px; padding:15px;}
/*---------Popup--------------*/

/*-----------20160523------------*/
.btn-mrg{margin:8px 0;}
.facebook-btn{background:#4867aa;}
.twitter-btn{background:#00aced;}
.linkdin-btn{background:#0177b5;}
.google-btn{background:#dc5043;}

.facebook-icon{color:#4867aa;}
.twitter-icon{color:#00aced;}
.linkdin-icon{color:#0177b5;}
.google-icon{color:#dc5043;}
th[align = center]{text-align:center;}

/*------------Design updates 20160525-------*/
.select-network{padding:10px 0; text-align:center;}
.select-network > li{min-width:120px; padding:0 15px; text-align:center; display:inline-block; position:relative;}
.network-text{font-weight:bold;}
.select-network > li a{display:block; color:#333333;}
.select-network > li a:hover, .select-network > li a:focus, .select-network > li a:active{text-decoration:none;}
.select-network > li a:hover  .network-icon, .select-network > li a.active  .network-icon{ color:#fff;}
.network-icon{width:57px; height:57px; display:inline-table;  border:1px #4867aa solid; border-radius:50%; margin-bottom:10px; color:#969696;}
.network-icon .fa{font-size:24px; display:table-cell; vertical-align:middle;}

.select-network > li.facebook-net a:hover .network-icon,
.select-network > li.facebook-net a.active .network-icon{background-color:#4867aa;}

.select-network > li.google-net a:hover .network-icon,
.select-network > li.google-net a.active .network-icon{background-color:#dc5043;}

.select-network > li.twitter-net a:hover .network-icon,
.select-network > li.twitter-net a.active .network-icon{background-color:#00aced;}

.select-network > li.instagram-net a:hover .network-icon,
.select-network > li.instagram-net a.active .network-icon{background-color:#d6ae8a;}

.select-network > li.linkedin-net a:hover .network-icon,
.select-network > li.linkedin-net a.active .network-icon{background-color:#0177b5;}

.google-net .network-icon{border-color:#dc5043;}
.twitter-net .network-icon{border-color:#00aced;}
.instagram-net .network-icon{border-color:#d6ae8a;}
.linkedin-net .network-icon{border-color:#0177b5;}

.post-type{margin:0 -5px; padding:15px 0;text-align: center;}
.post-type a{margin:0 5px 10px; background:#f3f3f3; padding:0 20px; line-height:37px; color:#969696; display:inline-block; font-size:14px; text-transform:uppercase; font-weight:bold; text-align:center;}
.post-type a:hover{text-decoration:none;}
.post-type a.active{background:#801417; color:#fff;}

.select-objct{margin:0 -10px;}
.select-objct > li{width:33.33%; float:left;}
.select-objct a{margin:0 10px 20px; display:block; padding:/*18px*/0 50px; display:block; position:relative; border:1px #e4e4e4 solid; color:#333333; white-space:normal; height:55px; line-height:18px;}
.select-objct a:hover, .select-objct a.active{border-color:#801417; background-color:#801417;}
.obj-icon{font-size:24px; width:50px; text-align:center; line-height:45px; color:#969696;}

.select-objct a:hover, .select-objct a.active,
.select-objct a:hover .obj-icon, .select-objct a.active .obj-icon{ color:#fff;}

/*.check-icon{position:absolute; right:15px; top:50%; margin-top:-12px; color:#801417; font-size:24px; display:none;}
.select-objct a:hover .check-icon, .select-objct a.active .check-icon{display:block;}*/

.list-table{display:table; height:100%; width:100%;}
.list-table b{display:table-cell; vertical-align:middle; font-weight:normal;}

.radio-btn{margin:0;}
.radio-btn input[type="radio"] + label{background:#fff; margin:0; padding:5px 15px; line-height:24px; color:#333; font-weight:400; border:1px #ccc solid; cursor:pointer; min-width:80px; text-align:center;}
.radio-btn input[type="radio"] + label span:after, .radio-btn input[type="radio"] + label span{display:none;}
.radio-btn .radio-inline{padding:0; float:left; margin-right:-1px;}
.radio-btn input[type="radio"]:checked + label{background:#801417; color:#fff; border-color:#801417;}

.custom-check-box input[type="checkbox"] + label{border: 1px solid #e4e4e4; color: #333333; margin: 0 0 20px; padding: 0 50px; height:55px; line-height:18px; position: relative; background:#fff;}
.custom-check-box input[type="checkbox"]:checked + label{border-color:#801517; background-color:#801517; color:#fff;}
.custom-check-box input[type="checkbox"]:checked + label .obj-icon{color:#fff;}
.custom-check-box input[type="checkbox"]:not(:checked) + label, .custom-check-box input[type="checkbox"]:checked + label{padding-left:50px;}

.custom-check-box input[type="checkbox"]:not(:checked) + label:before,
.custom-check-box input[type="checkbox"]:checked + label:before,
.custom-check-box input[type="checkbox"]:not(:checked) + label:after,
.custom-check-box input[type="checkbox"]:checked + label:after{left:auto; right:15px; top:50%; margin-top:-8px; display:none;}

.hd-icon{margin:0 12px 0 0; color:#fff;}

.includes{margin:0 -3px;}
.includes > li{display:inline-block; border-radius:3px; margin:0 3px 6px; padding:5px 25px 5px 10px; border:1px #fff solid; background:rgba(255,255,255,0.7); color:#333;}
.includes > li .pos-l{cursor: pointer; left: auto; right: 5px; top: 4px;}

.heading{border-bottom:1px #ccc solid; padding-bottom:10px; margin-bottom:10px; font-size:16px;}

.right-panel .row{margin-left:-10px; margin-right:-10px;}
.right-panel .col-lg-1, .right-panel .col-lg-10, .right-panel .col-lg-11, .right-panel .col-lg-12, .right-panel .col-lg-2, .right-panel .col-lg-3, .right-panel .col-lg-4, .right-panel .col-lg-5, .right-panel .col-lg-6, .right-panel .col-lg-7, .right-panel .col-lg-8, .right-panel .col-lg-9, .right-panel .col-md-1, .right-panel .col-md-10, .right-panel .col-md-11, .right-panel .col-md-12, .right-panel .col-md-2, .right-panel .col-md-3, .right-panel .col-md-4, .right-panel .col-md-5, .right-panel .col-md-6, .right-panel .col-md-7, .right-panel .col-md-8, .right-panel .col-md-9, .right-panel .col-sm-1, .right-panel .col-sm-10, .right-panel .col-sm-11, .right-panel .col-sm-12, .right-panel .col-sm-2, .right-panel .col-sm-3, .right-panel .col-sm-4, .right-panel .col-sm-5, .right-panel .col-sm-6, .right-panel .col-sm-7, .right-panel .col-sm-8, .right-panel .col-sm-9, .right-panel .col-xs-1, .right-panel .col-xs-10, .right-panel .col-xs-11, .right-panel .col-xs-12, .right-panel .col-xs-2, .right-panel .col-xs-3, .right-panel .col-xs-4, .right-panel .col-xs-5, .right-panel .col-xs-6, .right-panel .col-xs-7, .right-panel .col-xs-8, .right-panel .col-xs-9{padding-left:10px; padding-right:10px;}

.right-panel{ font-size:12px; line-height:normal;}
.aud-info{/*height:150px; overflow:auto;*/ margin-bottom:15px;}
.aud-info > li{padding:10px 30px 10px 10px; border:1px #ccc solid; background:#fff; margin-bottom:-1px; position:relative; line-height:18px;}
.aud-info > li .fa{color:#b9b9b9; font-size:18px;}
.aud-info > li:nth-child(even){background:#f7f7f7;}
.aud-info label{float:left; margin-bottom:5px; margin-right:5px;}
.aud-con{margin-left:100px;}

.aud-info > li.break-line label{float:none; width:auto;}
.aud-info > li.break-line .aud-con{margin-left:0; text-align: left;}

.module-row{padding-bottom:10px; margin-bottom:20px; background:#f3f3f3; padding:15px;}
.pot-reach{padding:5px 10px; background:#f3f3f3; font-size:13px; line-height:16px; }

.p-bar{padding:10px 0;}
.est-audience{background:#333; color:#fff; text-align:center; padding:20px 10px; font-size:20px; margin-bottom:15px;}

.est-dr{font-size:18px; text-align:center; font-weight:bold; margin-bottom:15px; color:#801417;}
.est-dr span{font-size:14px;}

.icon30{width:30px; height:30px;}
.icon30 .fa{font-size:14px;}

.pos-r{position:absolute; right:10px;}
.inclues, .locations{float:left;}
.locations{float:left; width:65%;}

.add-category{margin-top:10px; background: #fff none repeat scroll 0 0;  border: 1px solid #ccc;}
.cat-link{background:#333; color:#fff; display:block; padding:10px 40px 10px 15px; font-weight:bold; position:relative;}
.cat-link .fa{font-size:16px;}
.cat-link .fa-minus-circle, .cat-link.active .fa-plus-circle{display:none;}
.cat-link.active .fa-minus-circle{display:block;}
.cat-link:hover, .cat-link:focus, .cat-link:active{color:#fff; background-color:#801417;}

.cat-label{padding:10px 15px;}


.cat-list{max-height:300px; overflow:auto;}
.cat-list > li{border-bottom:1px #ccc solid;}
.cat-list > li > a{padding:10px 15px; display:block; color:#333; }
.cat-list > li a:hover, .cat-label:hover{background:#f3f3f3;}

.dropdown ul > li > a{padding:10px 30px; display:block; color:#333;}
.dropdown ul > li .cat-label{padding:10px 30px;}
.dropdown ul > li li .cat-label{padding:10px 15px 10px 45px;}
.dropdown a .fa-minus-circle, .dropdown a.active .fa-plus-circle{display:none;}
.dropdown a.active .fa-minus-circle{display:block;}

.cat-actions{float:right; margin:0 -3px;}
.cat-actions span{font-size:11px; margin:0 3px;}
.cat-actions a{background:#801417; color:#fff; border-radius:3px; font-size:12px; margin:0 3px; padding:3px 5px; min-width:60px; display:inline-block; text-align:center;}
.cat-list > li .cat-actions a:hover{background:#801417; opacity:0.8;}
/*.cat-label:hover .cat-actions a{background:#fff; color:#801417;}*/

.left-label > label{float:left; width:170px; text-align:right; margin:10px 10px 10px 0; }
.right-fields{margin-left:180px;}
.totext{display:inline-block; padding:0 5px;}

.time-select{float:left; width:130px; margin-left:20px;}

.coming-soon:after{background:rgba(255,255,255,0.8); position:absolute; left:0; top:0; width:100%; height:100%; content:"Coming Soon"; line-height:60px; font-weight:bold;}

.select-date{width:30%; float:left;}
.weekdays{margin-top:20px;}
.dt-row{margin-bottom:10px;}

.prof-hd-span{font-size:12px; line-height:1; font-weight:normal; display:inline-block;}
.textinfo{display:block; font-size:12px; font-weight:normal; margin-top:3px;}

.right-col:after{position:absolute; content:" "; display:block; width:10%; background:#ccc; height:10px; top:18px; right:15px; }

/*----------Sections-------*/
.rt-text, .bl-list{padding-top:10px;}
.bl-list > li{position:relative; margin-bottom:20px;}

.check-list > li{padding-left:30px;}
.frame-pad{padding:10px;}

.info-icon{border-radius:50%; height:18px; line-height:18px; width:16px; display:inline-block; margin-left:5px; text-align:center; background:#fff; border:1px #ccc solid; opacity:0.7; cursor:pointer; color:#666; vertical-align:middle;}
.info-icon .fa{line-height:16px; vertical-align:top;}
.info-icon:hover{opacity:1;}

.listm-10 > li{margin-bottom:10px;}
.wtframe{background:#fff; padding:10px;}
.topics{margin:0 -8px;}
.topic-col{float:left; padding-left: 8px; padding-right: 8px;}

.topic-left{width:55%;}
.topic-right{width:45%;}

.sml-input{font-size:13px; height:30px; padding:6px 10px;}
.btn-rtpos{padding-right:110px; position:relative;}
.btn-rtpos .btn{min-width:100px; position:absolute; right:0; top:0;}
.btn30{height:30px; padding:0 10px; line-height:30px;}

/*--------Tree--------*/
.tree-main{height:250px; overflow:auto; margin:10px 0; border:1px #ccc solid;}

.closed, .opened, .no-child{cursor:pointer; margin-right:5px;}
.closed{background:url(../images/plus.png) no-repeat;}
.opened{background:url(../images/minus.png) no-repeat;}
.opened, .closed{position:absolute; left:-17px; top:8px; height:12px; width:12px;}

.tree-item{padding-left:5px;}
.tree-content{background: #f3f3f3; border-radius: 4px; margin: 1px 0 1px 17px;  padding: 4px; position: relative;}
.item-wrap, .cart-item{display:table; width:100%;}
.text-overflow{text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width:100%;}
.item-name, .item-link, .item-arrow, .back-arrow, .cart-text{display:table-cell; height:18px; padding:2px 0; vertical-align:top;}
.item-link{display:none;}
.tree-content:hover .item-link{ display:table-cell;}
.tree-content:hover .item-link a{color:#fff;}
.item-link, .item-arrow{width:50px; text-align:right;}
.item-arrow, .back-arrow{padding:0;}
.cart-text{padding-left:10px;}
.cart-item{padding:5px 0; border-bottom:1px #ccc solid;}
.back-arrow{width:20px;}

.arrow-btn{background:#f3f3f3; height:18px; width:18px; text-align:center; display:inline-block; border-radius:50%; color:#666; font-size:10px; border:1px #ccc solid;vertical-align:top;}
.arrow-btn > .fa{vertical-align:top; line-height:15px;}

.tree-content:hover{background:#333; color:#fff;}
.tree-content:hover .arrow-btn{background:#/*801517*/#fff; color:#801517; border-color:#fff;}
.cart-item:hover .arrow-btn{background:#801517; color:#fff; border-color:#801517;}

.children, .child-elements{margin-left:10px;}

.selct-item{padding:10px 0;}
.cart-items{max-height:260px; overflow:auto; border-top:1px #ccc solid;}
textarea.keyword-h{height:220px;}

.suggest{position:relative;}
.suggest .form-control{padding-right:80px;}
.sugg-txt{font-weight:700; font-size:14px; position:absolute; right:2px; top:2px; padding:10px; background-color:#801517; color:#fff; cursor:pointer;}

.ad-preview > li{margin-top:-1px;}
.ad-pre{padding:0 55px; border:1px solid #bbbbbb; background:#fff; position:relative; height:40px; cursor:pointer; margin:0; font-size:14px;}
.ad-pre:hover, .ad-preview > li.active .ad-pre{background-color:#801517; color:#fff;}
.ad-pre:hover .fa, .ad-pre:hover .adlink,
.ad-preview > li.active .ad-pre .fa, .ad-preview > li.active .adlink{color:#fff;}
.pos-rt{top:0; right:0; position:absolute;}
.adlink{font-size:14px; color:#801517; width:auto; padding:0 15px;}


.img-icon{margin:20px 0;}
.img-icon .fa-image{font-size:60px; color:#ccc;}
.ext-rt .ad-pre{padding-right:80px;}

/*--------Always at Bottom---------*/
.f-w{width:100%;}
.m-t10 {margin-top: 10px;}
.m-t35 {margin-top: 35px;}
.m-t40 {margin-top: 40px;}

.f-12{font-size:12px;}
.f-13{font-size:13px;}
.f-14{font-size:14px;}
.f-16{font-size:16px;}
.f-20{font-size:20px;}
.f-24{font-size:24px;}
.f-30{font-size:30px;}
.mt-3{margin-top:-3px;}

.m-b0{margin-bottom:0px;}
.m-b20{margin-bottom:20px;}

.p-t0{padding-top:0;}
.p-t10{padding-top:10px;}
.p-b15{padding-bottom:15px;}

.u-text{text-decoration:underline;}
.u-text:hover{text-decoration:none;}

.bb-1{border-bottom:1px #ccc solid;}
.m-h183{min-height:183px;}
.t-upper{text-transform:uppercase;}
.t-lower{text-transform:inherit;}
.f-n{font-weight:400;}
.f-b{font-weight:700;}
.f-sb{font-weight:600;}

.w-auto{width:auto; display:inline-block;}
.w-100{width:100px;}

/*----------Sections-------*/
.rt-text, .bl-list{padding-top:10px;}
.bl-list > li{position:relative; margin-bottom:20px;}

.check-list > li{padding-left:30px;}
.frame-pad{padding:10px;}

.info-icon{border-radius:50%; height:18px; line-height:18px; width:16px; display:inline-block; margin-left:5px; text-align:center; background:#fff; border:1px #ccc solid; opacity:0.7; cursor:pointer; color:#666; vertical-align:middle;}
.info-icon .fa{line-height:16px; vertical-align:top;}
.info-icon:hover{opacity:1;}

.listm-10 > li{margin-bottom:10px;}
.wtframe{background:#fff; padding:10px;}
.topics{margin:0 -8px;}
.topic-col{float:left; padding-left: 8px; padding-right: 8px;}

.topic-left{width:55%;}
.topic-right{width:45%;}

.sml-input{font-size:13px; height:30px; padding:6px 10px;}
.btn-rtpos{padding-right:110px; position:relative;}
.btn-rtpos .btn{min-width:100px; position:absolute; right:0; top:0;}
.btn30{height:30px; padding:0 10px; line-height:30px;}

/*--------Tree--------*/
.tree-main{height:250px; overflow:auto; margin:10px 0; border:1px #ccc solid;}
.mobilelist{height: 138px}
.closed, .opened, .no-child{cursor:pointer; margin-right:5px;}
.closed{background:url(../images/plus.png) no-repeat;}
.opened{background:url(../images/minus.png) no-repeat;}
.opened, .closed{position:absolute; left:-17px; top:8px; height:12px; width:12px;}

.tree-item{padding-left:5px;}
.tree-content{background: #f3f3f3; border-radius: 4px; margin: 1px 0 1px 17px;  padding: 4px; position: relative;}
.item-wrap, .cart-item{display:table; width:100%;}
.text-overflow{text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width:100%;}
.item-name, .item-link, .item-arrow, .back-arrow, .cart-text{display:table-cell; height:18px; padding:2px 0; vertical-align:top;}
.item-link{display:none;}
.tree-content:hover .item-link{ display:table-cell;}
.tree-content:hover .item-link a{color:#fff;}
.item-link, .item-arrow{width:50px; text-align:right;}
.item-arrow, .back-arrow{padding:0;}
.cart-text{padding-left:10px;}
.cart-item{padding:5px 0; border-bottom:1px #ccc solid;}
.back-arrow{width:20px;}

.arrow-btn{background:#f3f3f3; height:18px; width:18px; text-align:center; display:inline-block; border-radius:50%; color:#666; font-size:10px; border:1px #ccc solid;vertical-align:top;}
.arrow-btn > .fa{vertical-align:top; line-height:15px;}

.tree-content:hover{background:#333; color:#fff;}
.tree-content:hover .arrow-btn{background:#/*801517*/#fff; color:#801517; border-color:#fff;}
.cart-item:hover .arrow-btn{background:#801517; color:#fff; border-color:#801517;}

.children, .child-elements{margin-left:10px;}

.selct-item{padding:10px 0;}
.cart-items{max-height:260px; overflow:auto; border-top:1px #ccc solid;}
textarea.keyword-h{height:220px;}

.suggest{position:relative;}
.suggest .form-control{padding-right:100px;}
.sugg-txt{font-weight:700; font-size:14px; position:absolute; right:10px; top:11px; color:#ccc;}



.preview-div{margin-top:-1px; }

.img-icon{margin:20px 0;}
.img-icon .fa-image{font-size:60px; color:#ccc;}
.ext-rt .ad-pre{padding-right:80px;}

/*Added by Lavlesh*/

/*-------------------------*/
.help-inline{color:#ff0000; float: left; padding-top: 5px;}
#imgTest > img { max-height: 175px; max-width: 270px;}
#delImg { cursor: pointer;float: right;}
.valreq { font-size: 11px;}
.ng-binding.success-fld {
    background: rgb(34, 139, 34) none repeat scroll 0 0;
    color: #fff;
    margin: 0 0 15px;
    padding: 10px;
}
.ng-binding.error-fld {
background: #ff0000 none repeat scroll 0 0;
color: #fff;
margin: 0 0 15px;
padding: 10px;
}


.cross-btn{position: absolute; right: 0; top: 8px; cursor: pointer; }
.day-row.col-lg-7{padding-right: 30px;}
.welcometxt .btn { line-height: 36px; padding: 0 15px; background: none;  border: none;}
.welcometxt .btn-primary:hover { background: none; border: none;}
.open .btn-primary:hover { background: none; border: none;}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  background: none !important; border: none !important;
}

/* Facebook scheduled matrix */

.schinner { background: white;padding-bottom: 20px; padding-top: 12px; width: 512px; }
.schinner1 { margin-left: 105px; margin-top: 5px; }
.clearfix {  zoom: 1; }
.schhintfooter { margin-top: 16px; font-size: 12px; font-family: helvetica;margin-left: 107px;}
.weekdayname { border-right: 1px solid white; float: left; padding-bottom: 5px; width: 43px;font-size: 12px;
    font-family: helvetica,arial,"lucida grande",sans-serif;
}
.weekdaytime { border-right: 1px solid white;float: left; height: 1px; width: 1px; }

.schhint{ min-width: 15px;float: left; margin-right: 5px; }
.scheduleweek { float: left;font-size: 12px; font-family: helvetica,arial,"lucida grande",sans-serif;height: 30px;line-height: 30px;text-align: right;width: 96px; display: inline-block;
    margin-right: 10px;}
.weekouter .weekinner { border-top: 1px solid #bdbfc4; }
.hourStatus-selected {background:linear-gradient(#333333, #333333);background-color:#333333;border-right: 1px solid #333333;}
.weekinnerfirst { border-left: 1px solid #bdbfc4; border-right: 1px solid #fff; border-right: 1px solid #bdbfc4; }

.weekinner { border-right: 1px solid #bdbfc4; float: left;font-size: 12px; font-family: helvetica,arial,"lucida grande",sans-serif;background-color: #f6f7f9; border-bottom: 1px solid #bdbfc4; cursor: pointer;height: 30px;width: 15px;}
.topdayweek { margin-top: 4px; }
#single-button { font-weight: bold;}
.chkbudget { padding-left: 0;}
.totalbudget {display: inline-block;  font-size: 12px; margin-top: 10px;}
.width50 { float: left;margin-right: 10px;width: 45%;}
#sticky {
    
}
.btn-file { width: 270px;}


/*footer, .footer-btm {    
    position: relative;
    z-index: 10000;
}*/

/* 2 June 2016 by Vikas Saini */

.m-b15{
  margin-bottom: 15px;
}
.uib-datepicker .btn{
  color: #000;
}
.device-setting a{
  color: #801517
}
.Carreierchildrenclassshow, .interestschildrenclassshow, .topicschildrenclassshow{
  display: inline-block;
}
.Carreierchildrenclasshide, .interestschildrenclasshide, .topicschildrenclasshide{
  display: none;
}
.keywordslisting, .placmentslisting{
  margin: 1px 0 1px 1px;
}

.left-targetsearchlocationlabel > label{float:left; width:50px; text-align:right; margin:10px 10px 10px 0; }
.right-targetsearchlocationfields{margin-left:60px;}
.right-targetsearchlocationfields .form-control{width: 58%;}

.targetingtypesbutton{padding: 8px 23px;}

/*************Time Picker************/
.bootstrap-timepicker-widget td{text-align:center; padding:5px 0;}
.bootstrap-timepicker-widget input{width:50px; text-align:center; border:none; font-size:16px; padding:5px 0;}
.time_error{width: 352px;}
/*==========Time Picker=============*/




.sub-label{margin-bottom:10px;}
.left-lbel{margin:10px; margin-left:0; width:125px; display:inline-block; text-align:right;}
.perct-input .form-control{padding-right:25px;}
.perct{right:10px; left:auto;}
.includes-l > li .pos-l{left:5px; right:auto}
.includes-l > li .pos-r{right:5px;}
.includes-l > li{padding:5px 25px 5px 10px;}
.includes-l > li.green-tick{background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d;}
.includes-l > li.red-cross{background-color: #f2dede; border-color: #ebccd1; color: #a94442;}
.green-tick .fa.list-cancel, .red-cross .fa.list-cancel, .list-cancel{color:rgba(0, 0, 0, 0.5);}

.accod-widget > li{/*background:#fff;*/ margin-bottom:5px;}
.accord-head{/*background:#969696;*/ padding:8px 25px 8px 10px; color:#333; font-size:14px; position:relative; margin-bottom:0;}
.active .accord-head{/*background:#801517;*/}

.accord-head .rt-img{top:50%; margin-top:-8px; right:8px;}
.accord-head i.fa{font-size:16px;}
.accord-content{padding:15px;}

/*----------20160615--------*/
.sub-label{margin-bottom:10px;}
.left-lbel{margin:10px; margin-left:0; width:125px; display:inline-block; text-align:right;vertical-align: middle;}
.perct-input .form-control{padding-right:25px;}
.perct{right:10px; left:auto;}

.includes-l > li .pos-l{left:5px; right:auto}
.includes-l > li .pos-r{right:5px;}
.includes-l > li{padding:5px 25px 5px 10px;}

.includes-l > li.green-tick{background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d;}
.includes-l > li.red-cross{background-color: #f2dede; border-color: #ebccd1; color: #a94442;}
.green-tick .fa.list-cancel, .red-cross .fa.list-cancel, .list-cancel{color:rgba(0, 0, 0, 0.5);}

.accod-widget > li{/*background:#fff;*/ margin-bottom:5px;}
.accord-head{/*background:#969696; */padding:8px 25px 8px 10px; color:#333; font-size:14px; position:relative; margin-bottom:0;}
.active .accord-head{/*background:#801517;*/}
.accord-head .rt-img{top:50%; margin-top:-8px; right:8px;}
.accord-head i.fa{font-size:16px;}
.accord-content{padding:5px;}


.v-impr{margin:10px 5px; display:inline-block; font-weight:normal;}

footer h2{text-transform: capitalize;}
.footer_nav {color: #fff; padding: 20px 0 0;}
.footer_nav a {color: #fff; display: inline-block; font-size: 14px; font-weight: 700; margin: 0 13px; text-transform: capitalize;}
.footer_nav a:first-child {margin-left: 0;}

/*--------Always at Bottom---------*/
.f-w{width:100%;}
.m-t10 {margin-top: 10px;}
.m-t35 {margin-top: 35px;}
.m-t40 {margin-top: 40px;}

.f-12{font-size:12px;}
.f-13{font-size:13px;}
.f-14{font-size:14px;}
.f-16{font-size:16px;}
.f-20{font-size:20px;}
.f-24{font-size:24px;}
.f-30{font-size:30px;}
.mt-3{margin-top:-3px;}

.m-b0{margin-bottom:0px;}
.m-b20{margin-bottom:20px;}
.p-t0{padding-top:0;}
.p-t10{padding-top:10px;}
.p-b15{padding-bottom:15px;}
.u-text{text-decoration:underline;}
.u-text:hover{text-decoration:none;}


.m-b0{margin-bottom:0px;}
.m-b20{margin-bottom:20px;}

.p-t0{padding-top:0;}
.p-t10{padding-top:10px;}
.p-b15{padding-bottom:15px;}

.u-text{text-decoration:underline;}
.u-text:hover{text-decoration:none;}


.bb-1{border-bottom:1px #ccc solid;}
.m-h183{min-height:183px;}
.t-upper{text-transform:uppercase;}
.t-lower{text-transform:inherit;}
.f-n{font-weight:400;}
.f-b{font-weight:700;}
.f-sb{font-weight:600;}

.w-auto{width:auto; display:inline-block;}
.w-50{width:50px;}
.w-100{width:100px;}
.w-293{width:293px;}
.w-350{width:350px;}
.w-150{width: 230px;margin-left: 30px;}

.inline-el{display:inline-block;}


.inline-el{display:inline-block;vertical-align: middle;}
.left-lbl-space{margin:10px; margin-left:4px; width:225px; display:inline-block; text-align:right;vertical-align: middle;}
.labl-left{margin-left: 0px;margin:10px; width:37px; display:inline-block; text-align:right;vertical-align: middle;}
.rt-text-link{margin-left: 10px;} 


/*===Ui-DatePicker===*/

.uib-datepicker .btn {
    min-width: 0px;
    padding: 0px 0px;
    border: 0;
}

.uib-datepicker .btn-default, .btn-sm {
    min-width: 0px;
    font-size: 10px;

}

.uib-clear {
  margin-left: 1px !important;
}
.includes li span i{
  cursor: pointer;
}
.accord-span{
    display: inline-block;
    min-width: 598px;
}
.accord-span-target{
    display: inline-block;
    min-width: 600px;
}
.campaignerror{
  color:#801517;
}
.frame-pad {
padding: 0 0 0 13px;
}
.accord-head {
    color: #333;
    font-size: 14px;
    margin-bottom: 0;
    padding: 8px 1px 2px 12px;
    position: relative;
}
.campaignerror{
  color:#801517;
}


/*--------------------------------------------*/ 



.autocomplete{
  width: 95%;
  position: relative;
}

.autocomplete input{
    font-size: 14px;
    width: 100%;   
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

.autocomplete li {

  padding:0.4em;
  cursor: pointer;
  background: #f3f3f3;
  list-style:none;
  width: 100%;
}
/*.autocomplete li:last-child{
  border-bottom: 1px solid #ddd;
}*/
.autocomplete li:hover {
  background: #ddd;
}
.autocomplete li:active,
.autocomplete li.active {
  color: #FFFFFF;
  background: #801517;
  width: 100%;
}
.autocomplete:focus{
  outline:none;
}
.popover{
z-index: 999999;
position: absolute;
}
.popover-content{
  font-size: 14px;
}
.demographicsaudiencebox{
  margin-top: 50px;
}
.loadsetting, .targetinnerbox{
  margin-bottom: 20px;
}
.form-section .loadsetting{
  margin-bottom: 10px;
}
.form-section .loadsetting .left-label > label {
  width: auto;
}
.loadsetting{
  padding: 0 0 0 13px;
}
.existcampaignfield{
  width: 250px;
}


/*for input type=number html*/
input[type=number] {-moz-appearance: textfield;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.error-camp{font-size: 11px; margin-bottom: 7px;}
.upper-right{margin-top: 5px; float: right;font-size: 14px; margin-right: 10px;}

.listimagelabel{color: #801517;}

.loadingclass{
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  position: fixed;
  opacity: 0.9;
  filter: alpha(opacity=50);
  background-color: #7B7B7A;
  z-index: 999999;
}
.campaign-copy-window .modal-content{
  top: 150px;
}
.advertiselisting{
  /*margin-top: 10px;*/
}
.advertiselisting .table{
  margin-bottom: 0px;
}
.adslisting{
float:right;
}
.saveads-btn{
  margin-left: 653px;
}
.aw-new-text-ad-preview {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin: 0;
    padding: 7px 5px !important;
}
.aw-top-creative {
    min-width: 200px;
    text-align: left;
}
.aw-creative {
    border-right: medium none !important;
    min-width: 160px;
}
.aw-i-list, .aw-i-list-li, .aw-dropdown {
    color: #333;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.aw-creative-headline, input.aw-creative-headline {
    color: #00c;
}
.aw-creative-link-a {
    color: #00c;
    line-height: 1.4em;
    white-space: nowrap;
}
.aw-i-list, .aw-i-list-li, .aw-dropdown {
    color: #333;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.aw-creative-line.textad-creation-preview {
    max-width: 500px;
}
ul.aw-i-list li.aw-creative-address-override {
    color: #6f6f6f;
    white-space: normal;
}
.aw-creative-business-name, input.aw-creative-display-url, .aw-creative-display-url, .aw-sample-ad .aw-creative-display-url, .aw-creative li.aw-creative-display-url {
    color: #0e8f0e !important;
}
.aw-i-list li{
  font-family:arial,helvetica,sans-serif !important;
  font-size: 81.25% !important;
}

.progress-wrapper-bar{
    position: relative;
    margin:20px auto;
    font-size: 40px;
    left: 78px;
}
.progress-bar{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    color: #801417;
}
.loader-container-bar{
    width: 100%;
    max-width: 960px;
    margin:50px auto 100px;
    text-align: center;
    z-index: 9999999;
    position: fixed;
    display: none;
}

.progressbardiv{
  display: inline;
}

.noscroll {overflow: hidden; }

.adpreviewlisting tbody > tr > td.adsname{text-align: left;}
.adpreviewlisting thead > tr > th.adsname{text-align: left;}


.cge-b {
    background-color: #59946b;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    margin-left: 0;
    margin-right: 2px;
    padding: 0 2px;
    vertical-align: baseline;
}

.erroeatbelow{font-size: 14px;  height: 38px; padding: 6px 15px; color : #cc0000; margin-left: 164px}
.erroemax{font-size: 14px;  height: 38px; padding: 6px 15px; color : #cc0000; margin-left: 218px}
.erroeatfreqapimmpress{font-size: 14px;  height: 38px; padding: 6px 15px; color : #cc0000; margin-left: 15px}
.erroeattargetdomainname{   color: #cc0000; font-size: 14px; height: 25px; margin-left: 0; padding: 3px 0px;}
.erroeatoutrank{   color: #cc0000; font-size: 14px; height: 25px; margin-left: 0; padding: 3px 153px;}
.erroeatbidlim{   color: #cc0000; font-size: 14px; height: 25px; margin-left: 0; padding: 3px 162px;} 
.erroeattargetname{   color: #cc0000; font-size: 14px; height: 25px; margin-left: 0; padding: 3px 52px;} 

.erroeatbelowbudgetfb{font-size: 14px;  height: 38px; padding: 6px 15px; color : #cc0000; margin-left: 157px} 
.bigamounterror{font-size: 14px;  height: 38px; padding: 6px 0px; color : #cc0000; margin-left: 0px}
.locationcss{margin-left: 110px !important;}
.requiredfields{color:#CC0000;}
